@media (max-width: 1150px){
	.container{
		padding: 15px;
	}
	.img-flex{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.img-s:nth-child(1){
		margin-right: 29px;
	}
	.img-s:nth-child(3){
		margin-right: 29px;
	}
	.img-s:nth-child(5){
		margin-right: 29px;
	}
}
@media (max-width: 1024px){
	.social-burger{
		display: block;
	}
	.orange-s .flex{
		display: flex;
		flex-wrap: wrap;
	}
}
@media (max-width: 1014px){
	.social-burger{
		display: block;
	}
	.f-l{
		float: none;
		display: flex;
		justify-content: center;

	}
	.f-r{
		float: none;
		display: flex;
		justify-content: center;
	}
	.box{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		/*flex-direction: column;*/
	}
}
@media (max-width: 986px){
	.social-burger{
		display: block;
	}
	.orange-s .flex{
		display: flex;
		flex-wrap: wrap;
	}
	.orange-box:nth-child(5){
		margin-top: 50px;
	}
}
@media (max-width: 985px){
	.f-r{
		float: none;
	}
	.paket{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
@media (max-width: 900px){
	.footer-flex:last-child{
		display: flex;
		flex-wrap: wrap;
	}
}
@media (max-width: 800px){
	.img-flex{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.img-s:nth-child(1){
		margin-right: 0;
	}
	.img-s:nth-child(3){
		margin-right: 0;
	}
	.img-s:nth-child(5){
		margin-right: 0;
	}
}
@media (max-width: 798px){
	.social-burger{
		display: block;
	}
	.orange-s .flex{
		display: flex;
	}
	.orange-box:nth-child(4){
		margin-top: 50px;
	}
}
@media (max-width: 795px){
	.social-burger{
		display: block;
	}
	.block{
		margin-right: 0;
	}
}
@media (max-width: 700px){
	.nav-ul-2{
		display: none;
	}
}
@media (max-width: 610px){
	.social-burger{
		display: block;
	}
	.orange-s .flex{
		display: flex;
	}
	.orange-box:nth-child(3){
		margin-top: 50px;
	}
}
@media (max-width: 550px){
	.social-burger{
		display: block;
	}
	.footer-ul:last-child{
		margin-top: 30px;
	}
}
@media (max-width: 500px){
	.wax-title{
		display: none;
	}
	.nav-ul-2{
		display: none;
	}
}
@media (max-width: 467px){
	.social-burger{
		display: block;
	}
	.footer-ul:nth-child(4){
		margin-top: 30px;
	}
}
@media (max-width: 422px){
	.social-burger{
		display: block;
	}
	.orange-s .flex{
		display: flex;
		justify-content: center;
	}
	.orange-box:nth-child(2){
		margin-top: 50px;
	}
}
@media (max-width: 359px){
	.social-burger{
		display: block;
	}
	.footer-ul:nth-child(3){
		margin-top: 30px;
	}
}
@media (max-width: 350px){
		.wax-title{
		display: none;
	}
	.nav-ul-2{
		display: none;
	}
	.flex-r{
		flex-direction: column;
	}
}
@media (max-width: 276px){
	.social-burger{
		display: block;
	}
	.footer-ul:nth-child(2){
		margin-top: 30px;
	}
}